.example-animate-container {
  margin:0;
  padding:0 10px;
}

.animate-repeat {
  /*line-height:40px;*/
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.6s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  /*transition:all linear 0.2s;*/
  /*max-height:0;*/
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  /*transition:all linear 0.2s;*/
  /*max-height:40px;*/
}
