.container {
  padding-top: 70px;
}

.navbar{
  background-color: #D1D1D1;
}

.navbar-brand {
  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 2.4em;
}

.navbar-default .navbar-brand {
    color: #008bbf;
}

#questions-panel-head.panel-heading, #answers-panel-head.panel-heading {
  background-color: #008bbf;
}

#question-list {
    background-color: #ddf6ff;
}

#question-list input, #question-list textarea, .show-btn, .list-group-item {
  background-color: #f9f9f9;
}

pre {
  border-width: 0px;
  font-family: monospace;
}

.footer { 
  text-align: center;
  padding: 0;
}

.wrapper {
  min-height: calc(100vh - 100px);
}

/*.footer {*/
/*    position: absolute;*/
/*    padding-top: 15px;*/
/*    padding-left: 80px;*/
/*    bottom: 0;*/
/*    width: 100%;*/
    /* Set the fixed height of the footer here */
/*    height: 60px;*/
/*    background-color: #f5f5f5;*/
/*}*/

/*#question-list textarea {
    background-color: #DBD2CB;
}*/
