.container {
  padding-top: 70px;
}

.navbar{
  background-color: #D1D1D1;
}

.navbar-brand {
  font-weight: 500;
  font-size: 2em;
}

.navbar-default .navbar-brand {
    color: #008bbf;
}

#questions-panel-head, #answers-panel-head {
  background-color: #aae8ff;
}

#question-list {
    background-color: #aae8ff;
}

#question-list input, #question-list textarea, .show-btn, .list-group-item {
  background-color: #fff;
}

pre {
  border-width: 0px;
  font-family: monospace;
}

/*#question-list textarea {
    background-color: #DBD2CB;
}*/
